.image_container {
  --image-width: 220.5px;
  --image-height: 297px;
  flex-shrink: 0;
  flex-basis: var(--image-width);
  height: var(--image-height);
}
.image_border {
  width: var(--image-width);
  height: var(--image-height);
}
.image {
  background-image: url("/public/dp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: var(--image-width);
  height: var(--image-height);
}

@media (min-width: 1024px) {
  .image_container {
    --image-width: 245px;
    --image-height: 330px;
  }
}
