@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "minecraft";
  src: local("minecraft"),
   url("./assets/fonts/minecraft/MinecraftRegular-Bmg3.otf") format("truetype");
  font-weight: bold;
  }